.pokemon-type-wrapper {
  width: 100%;
  display: flex;
  //flex-grow: 1;
  //flex-direction: row;
  //align-items: center;
  justify-content: space-evenly;
}

.pokemon-type {
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
// .pokemon-type {
//   display: flex;
//   height: 0;
//   width: 20%;
//   padding-bottom: 20%;
//   align-items: center;
//   justify-content: center;

//   p {
//     font-size: 1.5rem;
//     font-weight: bold;
//   }
// }
