.pokemon-type-wrapper {
  width: 100%;
  display: flex;
  //flex-grow: 1;
  //flex-direction: row;
  //align-items: center;
  justify-content: space-evenly;
}

.pokemon-type {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  span {
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
// .pokemon-type {
//   display: flex;
//   height: 0;
//   width: 20%;
//   padding-bottom: 20%;
//   align-items: center;
//   justify-content: center;

//   p {
//     font-size: 1.5rem;
//     font-weight: bold;
//   }
// }
